<template>
  <div class="wrapper">
    <banner>
      <!-- <template v-slot:title>
        <h1>Slot Title</h1>
      </template> -->
      <h1 class="title-font">ABC Demo</h1>
      <p class="subtitle">
        ABC music notation demonstration with abcjs library
      </p>
      <p>
        Here I will try to demonstrate some concepts of musical notation,
        particularly for percussion / drumset. The demos are showing the
        capabilities of
        <a href="https://abcnotation.com/">ABC music notation</a>, the "Markdown
        for Music", with the wonderful
        <a href="https://www.abcjs.net/">abcjs library</a> / editor.
      </p>
    </banner>
    <home-introduction image="img/musical-score.jpg" title="Purpose">
      <p>
        ABC music notation has been around for a number of years and there are
        many resources available. Even though there is plenty of information on
        the Internet, some of it may be hard to find. The cases below illustrate
        specific points. They show the musical term, how to achieve it using ABC
        notation, and the end-result in abcjs renderer.
      </p>
    </home-introduction>
    <home-cards title="Demos" :items="demos">
       These are the demos </home-cards>

    <Content />
  </div>
</template>
<script>
import Banner from '../../components/Banner.vue'
import HomeCards from '../../components/home-cards.vue'
import HomeIntroduction from '../../components/home-introduction.vue'
export default {
  data() {
    return {
      demos: [
        {
          title: 'first',
          content: 'blah blah',
          link: 'demos/demo1',
        },
        {
          title: 'second',
          content: 'more blah',
          link: 'demos/demo2'
        }
      ],
    }
  },
  components: { Banner, HomeCards, HomeIntroduction },
}
</script>
<style lang="scss">
.title-font {
  font-family: 'Edwin-Roman';
}

@font-face {
  font-family: 'Edwin-Roman';
  src: url('https://gitcdn.link/repo/MuseScoreFonts/Edwin/main/Edwin-Roman.otf');
}

.subtitle {
  font-size: 1.25rem;
  margin: 0 0 2rem;
}
</style>