<template>
  <div class="banner">
    <div class="content">
      <slot name="title"> </slot>
      <slot>
        <h1>Banner</h1>
        <h2>Subtitle</h2>
      </slot>
    </div>
    <div class="image">
      <img src="img/music-score-sheet-vintage.jpg" alt="Score" />
    </div>
  </div>
</template>
<script>
export default {}
</script>
<style lang="scss" scoped>
a {
  text-decoration: none;
}

.banner {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  // background-color: bisque;
}
@media screen and (orientation: portrait) {
  .banner {
    min-height: 100vh;
    flex-direction: column-reverse;
    text-align: center;
    align-items: stretch;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow-x: hidden;
  }
}

.content {
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: center;
  max-width: 48rem;
  padding: 5rem 5rem 3rem;
  margin: 0 auto;
  position: relative;
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;

  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    letter-spacing: 0.3rem;
    //margin: 0 0 1rem;
  }
}
@media screen and (orientation: landscape) {
  .content {
    width: 50%;
  }
}
@media screen and (orientation: portrait) {
  .content {
    min-height: 50vh;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 2.5rem 2rem 0.5rem;
    align-self: center;
    // flex-grow: 1;
    // flex-shrink: 1;
    margin: 0 auto;
    transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;
    text-align: center;
  }
}

.image {
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  display: inline-block;
  border-radius: 0;
  position: relative;

  img {
    transition: opacity 0.75s ease-in-out;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
@media screen and (orientation: portrait) {
  .image {
    height: 50vh;
    width: 100%;
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    border: 0;
    margin: 0;
    padding: 0;

    img {
      object-position: right;
      object-fit: cover;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}
</style>