<template>
    <div class="button">
        <slot>
            Big Button
        </slot>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss" scoped>
.button {
    
}
</style>