<template>
  <div class="cards center">
    <div class="inner">
      <h2 class="title-font">{{ title }}</h2>
      <slot> Cards </slot>
      <div class="items">
        <section v-for="item in items" key="item" @click="location.href='item.link'">
          <router-link :to="item.link">
            {{ item.title }}
            {{ item.content }}
            {{ item.link }}
          </router-link>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: String,
    items: Array, // [{ title, content, link }]
  },
}
</script>
<style lang="scss" scoped>
.center {
  text-align: center;
}
.cards {
  //margin:0;
  background-color: skyblue;
}

.inner {
  padding: 5rem 2.5rem 3rem;
  margin: 0 auto;
  max-width: 100%;
  width: 64rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
  position: relative;

  padding: 3.5rem 3.5rem 1.5rem;
  width: 50%;

  flex-grow: 0;
  flex-shrink: 0;
  border-style: solid;
  display: block;

  transition-delay: 0s;
  transition: opacity .75s ease-in-out;

  section {
    cursor: pointer;
    background-color: orangered;
  }
}
</style>