<template>
    <div class="spotlight">
        <div class="content">
            <h2 class="title-font">{{ title }}</h2>
            <slot>
                Introduction
            </slot>
            <!-- <big-button>Button</big-button> -->
        </div>
        <div class="image">
            <img :src="image" />
        </div>
    </div>
</template>
<script>
import BigButton from './big-button.vue'
export default {
  components: { BigButton },
    props: {
        image: String,
        title: String
    }
}
</script>
<style lang="scss" scoped>
.spotlight {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-end;
    position: relative;
    overflow-x: hidden;

    // background-color: antiquewhite;
}

.content {
    padding: 5rem 5rem 3rem;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 65%;
    max-width: 64rem;
    margin: 0 auto;

    h2 {
        font-size: 2.25rem;
        line-height: 1.375;
        letter-spacing: 0.1em;
        margin: 0 0 1rem;
    }
}

.image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 35%;
    min-width: 25rem;
    border-radius: 0;

    display: inline-block;
    position: relative;
    border: 0;

    img {
        object-fit: cover;
        object-position: center;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        transition: opacity .75s ease-in-out;
    }
}
</style>